<div class="listings-container">
  <div class="listing-card">
    <a href="/listings/{{id}}">
      <p>{{title}} {{format_date createdAt}}</p>

      <img src="{{circle_url}}" alt="Listing Photo">
    </a>
  </div>
</div>