<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Housable</title>
  <link rel="stylesheet" type="text/css" href="/css/skeleton.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
  <header>
    <div class="site-header" id="site-header">
      <a href='/'><img src="/images/housable.png" alt="Housable"></a>
      <nav>
        <a href="/"><button>Home</button></a>
        <a href="/listings"><button>Listings</button></a>
        {{#if loggedIn}}
        <a href="/addlisting"><button id="createListing">Create Listing</button></a>
        <a href="/" class="btn-no-style" id="logout"><button>Logout</button></a>
        {{!-- <button id="logout" class="btn-no-style">Logout</button> --}}
        {{else}}
        <a href="/login"><button>Login</button></a>
        {{/if}}
      </nav>
    </div>
  </header>

  <main>
    <div class="listings">
      {{{ body }}}
    </div>
  </main>
  {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>
<script src="/js/main.js"></script>
<footer>
  <h6 class="footer-header">Housable 2022</h6>
</footer>
</html>