<div class="hero-wrapper">
  <img class='hero-main' src='/images/pexels-klaudia-ekert-2383122.jpg'>
</div>
<button id="signupOnHomepage" class="btn-no-style">Signup</button>

{{#each listings}}
<div class="container">
  {{> listing-cards}}
</div>
{{/each}}