<div class="hero-wrapper">
  <img class='hero-main' src='/images/hero-img.jpg'>
</div>
<div class="signUp">
  <a href="/login"><button class="button-primary" id="signupOnHomepage" class="btn-no-style">Sign Up</button></a>
</div>

<div class="container">
  <h1 class="section-heading">Welcome to Housable!</h1>
  <h5 class="section-description">Need to go somewhere? Looking for someone to watch your house while you're gone, Look
    no further we've gotcha covered!</h5>
    
  <br>
  
  <div class="section">
    <h3>About Us</h3>
    <h5>We are a dedicated company that helps you find a trustworthy person to watch your house while you are away. We've
      all had the problem where we're on vacation or we need somebody to watch our house and we just can't find anybody
      trustworthy. We made a way which makes it easy to find trustworthy people to watch
      your house while you're away .</h5>
  </div>
</div>



<section class="container listings-wrapper">
  {{#each listings}}
  {{> listing-cards}}
  {{/each}}
</section>