.hero-main {
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-wrapper {
  max-height: 300px;
  width: 100%;
  overflow: hidden;
  margin-bottom: 20px;
}

.site-header img {
  max-width: 350px;
  justify-content: flex-start;
}

.site-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  border-bottom: 2px #16161d solid;
  z-index: 1;
}

.signUp {
  text-align: center;
}

.signUp button {
  min-width: 50%;
  padding: 20px;
  height: auto;
  font-size: x-large;
  box-shadow: 5px 5px 7px 2px lightgrey
}

button {
  box-shadow: 3px 3px 7px 2px lightgrey
}

nav {
  display: flex;
  flex-direction: row;
  margin-right: 3rem;
}

nav a {
  margin: 1rem;
}

@media (max-width: 1300px) {
  .site-header {
    display: flex;
    flex-direction: column;
  }

  nav {
    margin-right: 0;
  }
}

/* login & signup form */
.login-form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.login-card {
  padding: 20px;
  margin: 50px;
  border: 2px solid rgb(247, 164, 60);
  min-width: 33%;
  box-shadow: 5px 5px 7px 2px lightgrey;
  /* border: 3px solid lightgrey; */
  /* background: lightgrey; */
}

.login-btn {
  /* background: rgb(247, 164, 60, 70%); */
  background: rgba(179, 175, 170, 70%);
}

.listings-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.listings-container {
  padding: 40px;
  margin: 30px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  margin-left: -8px;

}

footer {
  background-color: #16161d;
  color: white;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: -8px;
  margin-top: auto;
}

.footer-header {
  margin: 0;
}

.site-header {
  transition: 650ms ease all;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
}

.add-listing {
  border: 2px solid #16161d;
  border-radius: 10px;
  box-shadow: 5px 5px 7px 2px lightgrey
}

.listing-header {
  margin-top: 2rem;
}

.listing-form textarea {
  min-width: -webkit-fill-available;
  margin: 0 40px;
}