.hero-main {
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-wrapper {
  max-height: 300px;
  width: 100%;
  overflow: hidden;
  margin-bottom: 20px;
}

.site-header img {
  max-width: 75%;
  justify-content: flex-start;
}

.site-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.signUp {
  text-align: center;
}

.signUp button {
  min-width: 50%;
  padding: 20px;
  height: auto;
  font-size: x-large;
}

nav {
  display: flex;
  flex-direction: row;
  margin-right: 3rem;
}

nav a {
  margin: 1rem;
}

@media (max-width: 1300px) { 
  .site-header {
    display: flex;
    flex-direction: column;
  }
 }

/* login & signup form */
/* https://htmlcolorcodes.com/ */
.login-form {
  display: flex;
  flex-wrap: wrap;
}

.login-card {
  padding: 20px;
  margin: 50px;
  border: 2px solid rgb(247, 164, 60);
  /* border: 3px solid lightgrey; */
  /* background: lightgrey; */
}
.login-btn {
  /* background: rgb(247, 164, 60, 70%); */
  background: rgba(179, 175, 170, 70%);
}

